/* @override 
	http://bxslider.com/css/styles.css
	http://bxslider.localhost/css/styles.css
*/

/*
 * colors:
 * hot pink: #e800da
 */


/*auto start button*/
.bx-auto .start {
	background: url(gray_auto.png) no-repeat 0 2px;
	padding-left: 13px;
}

/*auto stop button*/
.bx-auto .stop {
	background: url(gray_auto.png) no-repeat 0 -14px;
	padding-left: 13px;
}


/*pager links hover and active states*/
.bx-pager .pager-active,
.bx-pager a:hover {
	background-position: 0 0;
}

/*pager wrapper*/
.bx-pager {
	text-align:center;
	padding-top: 7px;
	font-size:12px;
	color:#666;
}

/*captions*/
.bx-captions {
	text-align:center;
	font-size: 12px;
	padding: 7px 0;
	color: #666;
}

/*auto controls*/
.bx-auto {
	text-align: center;
  display:none;
}

.bx-auto a {
	color: #666;
	font-size: 12px;
}


.clear {
	clear: both;
}

#slider1 li {
	padding-bottom: 5px;
	line-height: 18px;
}

#wrapper {
	width:300px;
}


.pager p
{
margin:7px 4px;
}

/* SLIDER ---------------------------------- */

#slider1 {
	padding: 0;
	margin: 0;
	list-style: none;
	overflow: hidden;
	height: 70px;
}

#slider1 li {
	padding: 0;
	margin: 0;
	zoom:1;
}

#slider1 img,
#slider2 img {
	float: left;
	margin-right: 16px;
	margin-bottom: 4px;
	border: solid #666 1px;
}

/* OPTIONS ---------------------------------- */

#options {
	display: none;
}

#options pre {
	font-size: 12px;
}

#show-options {
	background: url(../images/icon_arrow.png) no-repeat 0 135%;
	padding-left: 14px;
}

#show-options.open {
	background-position: 0 -56%;
}

#changelog span {
	display:block;
	color:#777;
}









